#registerContainer.flex.justify-center.items-center.min-h-screen.p-4.bg-gray-100(class="dark:bg-gray-950")
    form#register.w-md.p-8.bg-white.border.border-gray-300.rounded(
        x-data="{ loading: false }",
        @submit.prevent=``
        class="dark:text-white dark:bg-gray-900 dark:border-gray-800"
    )
        a.inline-block.mb-8(href="/login") &xlarr; Back to login

        h4.font-semibold.uppercase.mb-4 FORGOT PASSWORD

        p.mb-4.text-gray-600(class="dark:text-gray-400")
            | If the account with this email exists, 
            | we will send you a confirmation email to reset your password.

        .mb-8
            label(for="email").form-label Email
            input(type="email", id="email", name="email").form-control

        button.w-full.btn.text-white.bg-primary(type="submit" :disabled="loading") Send confirmation
            .spinner.ms-2(:class="{ 'hidden': !loading }")