#auth-container.flex.justify-center.items-center.min-h-screen
    #auth-modal.w-md.p-8.m-4.bg-white.border.border-gray-300.rounded(
        class="dark:bg-gray-900 dark:border-gray-800"
    )
        block nav

        h1.font-semibold.uppercase.mb-4
            block title
        
        block content