extends ../layout

block script
    script.
        async function sendRecoveryEmail(email) {
            const { data } = await axiosInstance.post(
                "/user_password_reset.php", { email }
            );

            if (data.message === "A password reset link has been sent to your email.") {
                notyf.success(data.message);
            } else {
                notyf.error(data.message);
            }
        }

block nav
    a.link.inline-block.mb-8(href="/login") &xlarr; Back to login

block title
    | Account recovery

block content
    form#forgot.flex.flex-col.gap-4(
        x-data="{ loading: false }",
        @submit.prevent=`withLoading((v) => loading = v, () =>
            sendRecoveryEmail($el.email.value)
        )`
    )
        p.opacity-70
            | If the account with this email exists, 
            | we will send you a confirmation email to reset your password.

        label(for="email")
            span Email
            input#email.form-input(type="email", name="email")

        button.btn.mt-2.text-white.bg-primary(type="submit", :disabled="loading")
            .spinner.me-2(:class="{ 'hidden': !loading }")
            | Send confirmation