extends ../layout

block script
    script.
        Alpine.data("login", function () {
            return {
                loading: false,

                async init() {
                    const { data } = await axiosInstance.get(
                        "/check_login.php"
                    );

                    if (data.logged_in) {
                        this.$router.navigate("/");
                    }
                },
        
                async login() {
                    await withLoading((v) => this.loading = v, async () => {
                        try {
                            const { data } = await axiosInstance.post(
                                "/login.php", formToJSON(new FormData(this.$el))
                            );
            
                            if (data.logged_in) {
                                this.$router.navigate("/");
                            } else {
                                notyf.error(data.message);
                            }
                        } catch (err) { handleServerError(err) }
                    });
                }
            };
        });

block title
    | Welcome back

block content
    form#login.flex.flex-col.gap-4(x-data="login", @submit.prevent="login")
        label(for="email")
            span Email
            input#email.form-input(type="email", name="email")

        label(for="password")
            span Password
            input#password.form-input(type="password", name="password")

        .grid.gap-2.mt-2(class="sm:grid-cols-2")
            button.btn.text-white.bg-primary(type="submit", :disabled="loading")
                .spinner.me-2(:class="{ 'hidden': !loading }")
                | Login

            a.btn.text-primary.border(href="/forgot") Forgot password

        p.text-center
            | New user?
            a.link.ms-2(href="/register") Register now!