extends ../layout

block script
    script.
        Alpine.data("register", function () {
            return {
                loading: false,
        
                async register() {
                    await withLoading((v) => this.loading = v, async () => {
                        try {
                            const { data } = await axiosInstance.post(
                                "/register.php", formToJSON(new FormData(this.$el))
                            );
            
                            if (data.message.includes("thành công")) {
                                this.$router.navigate("/login");
                                notyf.success(data.message);
                            } else {
                                notyf.error(data.message);
                            }
                        } catch (err) { handleServerError(err) }
                    });
                }
            };
        });

block title
    | Registration

block content
    form#register.flex.flex-col.gap-4(x-data="register", @submit.prevent="register")
        label(for="full-name")
            span Full Name
            input#full-name.form-input(type="text", name="display_name")

        label(for="email")
            span Email
            input#email.form-input(type="email", name="email")

        label(for="password")
            span Password
            input#password.form-input(type="password", name="password", autocomplete="new-password")

        label(for="confirm-password")
            span Confirm Password
            input#confirm-password.form-input(type="password", name="password_confirmation", autocomplete="new-password")

        button.btn.mt-2.text-white.bg-primary(type="submit", :disabled="loading")
            .spinner.me-2(:class="{ 'hidden': !loading }")
            | Register

        p.text-center
            | Already a user?
            a.link.ms-2(href="/login") Login!