doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Document

        link(rel="stylesheet", href="./css/styles.css")

        script(type="module", src="./js/main.js")
    
    body(x-data="app" :class="darkMode ? 'dark' : 'light'")
        template(x-route="/", x-template="./pages/home.html")

        template(x-route="/login", x-template="./pages/auth/login.html")
        template(x-route="/register", x-template="./pages/auth/register.html")
        template(x-route="/forgot", x-template="./pages/auth/forgot.html")
        template(x-route="/reset", x-template="./pages/auth/reset.html")

        template(x-route="/edit/:id", x-template="./pages/edit.html")