mixin x-route(route, path)
    template(x-route=route, x-template.target.app=`./pages/${path}.html`)

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Document

        link(rel="stylesheet", href="./css/styles.css")

        script(type="module", src="./js/main.js")
    
    body.bg-gray-100(x-data class="dark:text-white dark:bg-gray-950")
        +x-route("/", "app/pages/home")
        +x-route("/edit/:id", "app/pages/edit")

        each route in ["login", "register", "forgot", "reset"]
            +x-route(`/${route}`, `auth/pages/${route}`)

        main#app