mixin x-route(route, path)
    template(x-route=route, x-template.target.app=`./pages/${path}.html`)

doctype html
html(lang="en", x-data, :class="$store.theme")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Document

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans")
        link(rel="stylesheet", href="/assets/fontawesome/css/all.min.css")

        link(rel="stylesheet", href="/src/css/styles.css")

        script(type="module", src="/src/js/main.js")
    
    body.bg-gray-100(class="font-[Plus_Jakarta_Sans] dark:text-white dark:bg-gray-950")
        +x-route("/", "app/pages/home")
        +x-route("/edit/:id", "app/pages/edit")
        +x-route("/settings", "app/pages/settings")
        +x-route("/settings-old", "settings")

        each route in ["login", "register", "forgot", "reset"]
            +x-route(`/${route}`, `auth/pages/${route}`)

        main#app